<h1>Listing accessories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Service</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accessories.each do |accessory| %>
  <tr>
    <td><%= accessory.name %></td>
    <td><%= accessory.service_id %></td>
    <td><%= link_to 'Show', cliente_accessory_path(accessory) %></td>
    <td><%= link_to 'Edit', edit_cliente_accessory_path(accessory) %></td>
    <td><%= link_to 'Destroy', cliente_accessory_path(accessory), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accessory', new_cliente_accessory_path %>

