<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @accessory.name %>
</p>

<p>
  <b>Service:</b>
  <%= @accessory.service_id %>
</p>


<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>

