<%= form_for [:admin, @storedata] do |f| %>
  <%= error_messages_for @storedata %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br />
    <%= f.collection_select :store_id, @stores, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

