<h1>Listing storedatas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Store</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storedatas.each do |storedata| %>
  <tr>
    <td><%= storedata.name %></td>
    <td><%= storedata.email %></td>
    <td><%= storedata.store_id %></td>
    <td><%= link_to 'Show', admin_storedata_path(storedata) %></td>
    <td><%= link_to_edit [:edit, :admin, storedata] %></td>
    <td><%= link_to_destroy [:admin, storedata] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Storedata', new_admin_storedata_path %>

