<%= form_for[:cliente,@storecar] do |f| %>
  <% if @storecar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storecar.errors.count, "error") %> prohibited this storecar from being saved:</h2>

      <ul>
      <% @storecar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br />
    <%= f.collection_select :store_id, @stores, :id , :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

