<%= form_for[:cliente,@store] do |f| %>
  <%= error_messages_for @store %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

