<h1>Listing accessories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Service</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accessories.each do |accessory| %>
  <tr>
    <td><%= accessory.name %></td>
    <td><%= accessory.service_id %></td>
    <td><%= link_to 'Show', admin_accessory_path(accessory) %></td>
    <td><%= link_to_edit [:edit, :admin, accessory] %></td>
    <td><%= link_to_destroy [:admin, accessory] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accessory', new_admin_accessory_path %>

