<%= form_for(@persondata) do |f| %>
  <%= error_messages_for @persondata %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :person_id %>
    <%= f.collection_select :person_id, @people, :id, :first_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

