<%= form_for[:cliente,@garagedata] do |f| %>
  <%= error_messages_for @garagedata %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :garage_id %><br />
    <%= f.collection_select :garage_id, @garages, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

