<%= form_for[:cliente,@garagedata] do |f| %>
  <% if @garagedata.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garagedata.errors.count, "error") %> prohibited this garagedata from being saved:</h2>

      <ul>
      <% @garagedata.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :garage_id %><br />
    <%= f.collection_select :garage_id, @garages, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

