<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @accessorydata.name %>
</p>

<p>
  <b>Accessory:</b>
  <%= @accessorydata.accessory_id %>
</p>


<%= link_to 'Edit', edit_accessorydata_path(@accessorydata) %> |
<%= link_to 'Back', accessorydatas_path %>

