<%= form_for [:admin, @garage] do |f| %>
  <%= error_messages_for @garage %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br />
    <%= f.collection_select :service_id, @services, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

