<h1>Listing garages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Service</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @garages.each do |garage| %>
  <tr>
    <td><%= garage.name %></td>
    <td><%= garage.service_id %></td>
    <td><%= link_to 'Show', admin_garage_path(garage) %></td>
    <td><%= link_to_edit [:edit, :admin, garage] %></td>
    <td><%= link_to_destroy [:admin, garage] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Garage', new_admin_garage_path %>

