<%= form_for(@accessorydata) do |f| %>
  <%= error_messages_for @accessorydata %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :accessory_id %><br />
    <%= f.collection_select :accessory_id, @accessories, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

