<%= form_for[:cliente,@storedata] do |f| %>
  <% if @storedata.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storedata.errors.count, "error") %> prohibited this storedata from being saved:</h2>

      <ul>
      <% @storedata.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br />
    <%= f.collection_select :store_id, @stores, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

