<h1>Listing garagedatas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Garage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @garagedatas.each do |garagedata| %>
  <tr>
    <td><%= garagedata.name %></td>
    <td><%= garagedata.garage_id %></td>
    <td><%= link_to 'Show', admin_garagedata_path(garagedata) %></td>
    <td><%= link_to_edit [:edit, :admin, garagedata] %></td>
    <td><%= link_to_destroy [:admin, garagedata] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Garagedata', new_admin_garagedata_path %>

