<h1>Listing storecars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Store</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storecars.each do |storecar| %>
  <tr>
    <td><%= storecar.name %></td>
    <td><%= storecar.color %></td>
    <td><%= storecar.store_id %></td>
    <td><%= link_to 'Show', admin_storecar_path(storecar) %></td>
    <td><%= link_to_edit [:edit, :admin, storecar] %></td>
    <td><%= link_to_destroy [:admin, storecar] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Storecar', new_admin_storecar_path %>

