<h1>Listing personcars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personcars.each do |personcar| %>
  <tr>
    <td><%= personcar.name %></td>
    <td><%= personcar.color %></td>
    <td><%= personcar.person_id %></td>
    <td><%= link_to 'Show', cliente_personcar_path(personcar) %></td>
    <td><%= link_to 'Edit', edit_cliente_personcar_path(personcar) %></td>
    <td><%= link_to 'Destroy', cliente_personcar_path(personcar), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Personcar', new_cliente_personcar_path %>

