<h1>Listing accessorydatas</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Accessory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accessorydatas.each do |accessorydata| %>
  <tr>
    <td><%= accessorydata.name %></td>
    <td><%= accessorydata.accessory_id %></td>
    <td><%= link_to 'Show', cliente_accessorydata_path(accessorydata) %></td>
    <td><%= link_to_edit [:edit, :cliente, accessorydata] %></td>
    <td><%= link_to_destroy [:cliente, accessorydata] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accessorydata', new_cliente_accessorydata_path %>

