<%= form_for(@personcar) do |f| %>
  <%= error_messages_for @personcar %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :person_id %>
    <%= f.collection_select :person_id, @people, :id, :first_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

